<aside class="sidebar">
  <header class="site-header">
    <h1>Cultura de Paz</h1>
    <p>Fomentando empatía, respeto y convivencia pacífica</p>
  </header>

  <nav class="side-nav">
    <ul id="menuList">
      <li><a href="index.php?page=home">Inicio</a></li>
      <li id="toolsItem" style="display:none;">
        <a href="index.php?page=herramientas">Chat moderado y Diario</a>
      </li>
      <li id="libraryItem" style="display:none;">
        <a href="index.php?page=biblioteca">Biblioteca de imágenes y frase Motivacionales</a></li>
      <li>
      <li id="questionnaireItem" style="display:none;">
        <a href="index.php?page=cuestionario">Cuestionario de autoevaluación de la paz</a></li>
      <li>
        <button class="btn" id="authButton">Acceder</button>
      </li>
    </ul>
  </nav>
</aside>
