<section id="biblioteca" class="biblioteca-motivacional">
  <div class="bib-wrap">
    <figure class="bib-item i1">
      <img src="assets/images/dia-internacional-paz.png" alt="Día Internacional de la Paz">
    </figure>

    <header class="bib-item banner">
      <h3>BIBLIOTECA DE<br>IMÁGENES Y FRASES<br>MOTIVACIONALES</h3>
    </header>

    <figure class="bib-item i2">
      <img src="assets/images/manos-planeta.png" alt="Cuidar el planeta">
    </figure>

    <figure class="bib-item i3">
      <img src="assets/images/paloma-mundo.png" alt="Paz en el mundo">
    </figure>

    <figure class="bib-item i4">
      <img src="assets/images/solidaridad-conflictos.png" alt="Solidaridad en los conflictos">
    </figure>

    <figure class="bib-item i5">
      <img src="assets/images/triptico-paz.png" alt="Tríptico educativo sobre la paz">
    </figure>

    <figure class="bib-item i6 contain">
    <img src="assets/images/gandhi-cita.png" alt="Cita de Gandhi">
    </figure>

    <figure class="bib-item i7">
      <img src="assets/images/signo-paz-flores.png" alt="Símbolo de paz con flores">
    </figure>

    <figure class="bib-item i8">
      <img src="assets/images/paloma-manos.png" alt="La paz está en tus manos">
    </figure>
  </div>
</section>