<section id="herramientas" class="section">
    <h2>Chat moderado y diario</h2>
    <p>Participa en nuestro chat moderado y explora herramientas para la reflexión personal.</p>
    
    <div class="chat-container">
        <div class="chat-messages" id="chatMessages">
            <div class="message bot-message">
                <p>Bienvenido al chat moderado. Este es un espacio seguro para compartir ideas positivas y buenas prácticas de convivencia.</p>
            </div>
        </div>
        
        <div class="chat-input">
        <input type="text" id="messageInput" placeholder="Escribe tu mensaje..." />
        <button type="button" class="btn" onclick="sendMessage()">Enviar</button>
        </div>

    </div>
    <script src="public/js/comments.js"></script>

</section>